{% extends "flights/base.html" %}


{% block body %}

{% for passenger in passengers %}
 <p>{{passenger.name}}</p>
 <div style="display: flex; gap: 10px;">
    <form action="{% url 'delete_passenger' passenger.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete Passenger</button>
    </form>
    <a href="{% url 'edit_passenger' passenger.id %}"><button type="button">Edit Passenger</button></a>
 </div>
{% empty %}
<p> No Passengers in the database </p>
{% endfor %}
<hr>
<h3>Add Passenger</h3>
<form action="{% url 'add_passenger' %}" method="post">
    {% csrf_token %}
    <label for="passenger_name">Passenger Name: </label>
    <input type="text"  id="passenger_name" name="passenger_name" required> 
    <button type="submit">Add Passenger</button>
</form>
<hr>
<a href="{% url 'index' %}"> See available flights</a>
{% endblock %}